<a href="https://colab.research.google.com/github/namakutiwik/R-Kernel/blob/main/Mount_Drive_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Dataset using Mount Drive

In [ ]:
install.packages("googledrive")
library("googledrive") 
install.packages("httpuv") 
library("httpuv")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
if (file.exists("/usr/local/lib/python3.7/dist-packages/google/colab/_ipython.py")) { #may update python version  
                                       #occasionally
  install.packages("R.utils")
  library("R.utils")
  library("httr")
  my_check <- function() {return(TRUE)}
  reassignInPackage("is_interactive", pkgName = "httr", my_check) 
  options(rlang_interactive=TRUE)
}

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: R.oo

Loading required package: R.methodsS3

R.methodsS3 v1.8.1 (2020-08-26 16:20:06 UTC) successfully loaded. See ?R.methodsS3 for help.

R.oo v1.24.0 (2020-08-26 16:11:58 UTC) successfully loaded. See ?R.oo for help.


Attaching package: ‘R.oo’


The following object is masked from ‘package:R.methodsS3’:

    throw


The following objects are masked from ‘package:methods’:

    getClasses, getMethods


The following objects are masked from ‘package:base’:

    attach, detach, load, save


R.utils v2.10.1 (2020-08-26 22:50:31 UTC) successfully loaded. See ?R.utils for help.


Attaching package: ‘R.utils’


The following object is masked from ‘package:utils’:

    timestamp


The following objects are masked from ‘package:base’:

    cat, commandArgs, getOption, inherits, isOpen, nullfile, parse,
    warnings

In [ ]:
drive_auth(use_oob = TRUE, cache = FALSE)

Please point your browser to the following url:

https://accounts.google.com/o/oauth2/auth?client_id=603366585132-dpeg5tt0et3go5of2374d83ifevk5086.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code

Enter authorization code: 4/1AX4XfWiK6f364r49pN8bcHTgqozHeotacn4vUi1qQPWGHOsykSBDBVgKJaU

In [ ]:
x <- drive_get("~/Kemenkes - Data Analyst/station_trip_data.csv")
drive_download(x)
z <- read.csv("/content/station_trip_data.csv", header = TRUE, sep = ";")
head(z, 3)

  time                station_id name               capacity assign
1 09/03/2015 19:10:00 465        Broadway & W 41 St 39       1
2 10/03/2015 12:27:00 466        W 25 St & 6 Ave    35       1
3 21/01/2015 14:31:00 477        W 41 St & 8 Ave    71       1